/* styles.css */

/* Add styles here to customize the appearance of your app */

@media (prefers-color-scheme: dark) {
    body { background: #ddd; color: black; }
  }
  
  @media (prefers-color-scheme: light) {
    body {  background: url('./images/background.jpg') no-repeat center center fixed; 
      background-size: cover; color: white; }
      themes {
        position:absolute;
        height: 10vmin;
        top:50%;
        z-index:32;
        color: #ff0000;
        background: #ddd
          }
  }
  